body {
    background-color: #023047;
    color: #219ebc;
}

a {
    color: #fb8500;
    text-decoration: none;
}

a:hover {
    color: #ffb703;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    list-style: none;
}

.menu-list li {
    display: inline-block;
}