@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@200&family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");

body {
    background:#F9F8FF;
    color: #8D8DB9;
    font-family: 'Nunito Sans', sans-serif;
}

.nav-bar {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: xx-large;
}

.motto {
    font-weight: 400;
    font-style: italic;
    font-size: x-large;
}

.menu-list {
    list-style: none;
}

.menu-list li {
    display: inline-block;
}


/* ALL PAGES */

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ABOUT PAGE */

.intro-container {
    width: 50%;
    margin: 2em 13em;
    display: flex;
}

.intro-text {
    padding-left: 1em;
}

.headshot-container {
    float: left;
}

.headshot-container img {
    max-width: 10em;
    border-radius: 5px;
}

.project-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.3em;
}

.project-link-container {
    text-align: center;
}

.project-image {
    position:relative;
    max-width: 30em;
    z-index: 25;
}

.project-description-container {
    text-align: center;
    position:absolute;
    width: 30em;
    z-index: 1;
}

.hide {
    transform: scaleY(0);
    transition: transform 400ms ease 0ms;
}

.job {
    margin: 3em 6em;
    display: flex;
}

.job-image-container {
    margin-right: 1em;
}

.job-image {
    width: 200px;
}

.contact-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid ;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 10em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #9D69A3;
    border-radius: 4px;
}

.icon-list-container {
    display: flex;
}

.icon-container {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 40px;
    width: 40px;
}

.repo-img {
    height: 25px;
    width: 25px;
}

@media only screen and (max-width: 600px) {
    .intro-container {
        width: 50%;
        margin: 2em 13em;
        display: flex;
        flex-direction: column;
    }
    .headshot-container {
        text-align: center;
    }
}
